












































.page-content[_v-e7b4587a] {
    margin: 0px auto;
    /*width:76.8vw;
    height:43.2vw;*/
    width: 80vw;
    height: 45vw;
    /*width: 64vw;
    height: 36vw;*/
    /*width: 48vw;
    height: 27vw;*/
}

.mdl-button[_v-e7b4587a] {
    width: 100%;
}





.screen-scroll-svg .svg-background,
.screen-scroll .mdl-card__title {
    background-color: #81D4FA;
    fill: #81D4FA;
    /*background-color: #80D8FF;
    fill: #80D8FF;*/
}

.brush rect {
    fill-opacity: .125;
}

.legend-group text {
    dominant-baseline: hanging;
    font-size: 15px;
    font-weight: 300;
}

rect.bar-chart {
    fill: #E1F5FE;
}
/*rect.bar-chart.siso{
    fill: red;
}*/

.indicator circle {
    stroke: #fff;
    fill: #fff;
    stroke-width: 0.7px;
}

.indicator rect {
    stroke: #fff;
    stroke-width: 0.5px;
    fill: #fff;
    fill-opacity: 0.5;
}

.time-line-chart path {
    fill: none;
    stroke: #03A9F4;
    stroke: 1px;
}



















































.screen-scroll[_v-0f41474e] {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
}

.screen-scroll-svg[_v-0f41474e] {
    width: 100%;
    margin: 0px auto;
    position: relative;
    z-index: 2;
}








.clock-group text.date,
.clock-group text.time {
    font-weight: 300;
    font-size: 7vh;
    fill: #757575;
}

.timeline.axis line,
.clock-group line {
    stroke-width: 2.5px;
    stroke: #FF7043;
}

.analog-clock .clockface{
    fill: #FAFAFA;
    stroke: #757575;
    stroke-width: 5;
}

.analog-clock .centerdot{
    fill:#fff;
    stroke: #FEBE12;
    stroke-width: 2;
}

.analog-clock .clockhand{
    stroke-linecap:round;
    stroke-linejoin:round;
    fill:none;
}

.timeline.axis text {
    font-weight: 300;
    font-size: 2vh;
    color: #757575;
}

.axis path,
.line {
    fill: none;
}

.legend text,
.tick text {
    font-size: 15px;
    font-weight: 300;
}

.axis text.caption {
    font-size: 20px;
    font-weight: 400;
}

.axis text.caption.vertical-caption {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.axis text::-moz-selection {
    background: none;
}

.axis text::selection {
    background: none;
}

.bubble-float {
    position: absolute;
    margin: 0px auto;

}

.bubble-float-chart,
.bubble-float-svg {
    position: relative;
}

.bubble-float-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.back-ground .layer-border path {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
}

.back-ground .layer rect,
.back-ground .layer path {
    fill-opacity: 0.3;
}





.conglei-svg .svg-background,
.conglei .mdl-card__title {
    background-color: #81D4FA;
    fill: #81D4FA;
    /*background-color: #80D8FF;
    fill: #80D8FF;*/
}

.axis path,
.axis line {
    fill: none;
}

.axis text {
    font-weight: 300;
    font-size: 15px;
}

.axis text.caption {
    font-size: 20px;
    font-weight: 400;
}

.axis text.caption.vertical-caption {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.time-line-context-group .axis path,
.time-line-context-group .axis line {
    stroke-width: 2.5px;
    stroke: #E1F5FE;;
}

.time-line-context-group .axis circle{
    fill: #E1F5FE;
}
















































.conglei[_v-0e5edc61] {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
}

.conglei-svg[_v-0e5edc61] {
    width: 100%;
    margin: 0px auto;
    position: relative;
    z-index: 2;
}





.no-foreshadow-baseline-svg .svg-background,
.no-foreshadow-baseline .mdl-card__title {
    background-color: #81D4FA;
    fill: #81D4FA;
}
    
.legend-group text {
    dominant-baseline: hanging;
    font-size: 15px;
    font-weight: 300;
}























.no-foreshadow-baseline[_v-72404159] {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
}

.no-foreshadow-baseline-svg[_v-72404159] {
    width: 100%;
    margin: 0px auto;
    position: relative;
    z-index: 2;
}

/*# sourceMappingURL=app.css.map*/