<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Videos</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" v-link="vLinkIndex">Ours</a>
                <a class="mdl-navigation__link" v-link="vLinkCongleiPath">Conglei's</a>
                <a class="mdl-navigation__link" v-link="vLinkNoForeshadow">No ForeShadow</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Videos</span>
        <nav class="mdl-navigation">
            <label class="mdl-navigation__link">Video
                <select v-model="selectedVideo" @change="SelectVideo" :disabled="selectVideoDisabled">
                    <option v-for="id in videoIds" :value="id">
                        {{ id }}
                    </option>
                </select>
            </label>

            <label class="mdl-navigation__link">Speed X
                <select v-model="zoomScaleMax" @change="SelectSpeed" :disabled="selectVideoDisabled">
                    <option v-for="speed in zoomScaleList" :value="speed">
                        {{ speed }}
                    </option>
                </select>
            </label>

            <label class="mdl-navigation__link">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect " for="isAcceleration">
                    <input type="checkbox" id="isAcceleration" class="mdl-switch__input" v-model="isAcceleration" @change="ChangeAcceleration">
                    <span class="mdl-switch__label">Accerleration</span>
                </label>
            </label>

            <label class="mdl-navigation__link" for="btn-play">
                <button id="btn-play" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--grey-800"
                type="button" @click="Resume"> Play </button>
            </label>

            <label class="mdl-navigation__link" for="btn-Pause">
                <button id="btn-Pause" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" @click="Pause">
                    Pause </button>
            </label>

            <label class="mdl-navigation__link">
                <hr/>
            </label>
        </nav>

    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <!-- Your content goes here -->
            <router-view v-ref:click-animation-component>
            </router-view>
        </div>
    </main>
</div>